.local
.lsp-session-v1
.cask
.cache/
.dap-breakpoints
auto-save-list
bookmarks
elpa
fsautocomplete
projectile-bookmarks.eld
projectile.cache
recentf
straight
transient
tramp
eshell
request
url

eclipse.jdt.ls/
forge-database.sqlite
logview-cache.extmap
network-security.data
workspace/

private.*
custom.*
readme.el